@font-face {
    font-family: franklin;
    src: url("fonts/LibreFranklin-Light.ttf");
}

@font-face {
    font-family: franklin_semibold;
    src: url("fonts/LibreFranklin-SemiBold.ttf");
}

@font-face {
    font-family: franklin_bold;
    src: url("fonts/LibreFranklin-Bold.ttf");
}

body, html, h1, p {
    padding: 0;
    margin: 0;
}

.page-title {
    display: grid;
}

.page-title h1 {
    margin: 75px auto 50px auto;
    font-family: franklin_bold;
    font-size: 40px;
}

.blue {
    color: hsl(223, 87%, 63%);
}

.page-content {
    display: grid;
}

.welcome-text {
    line-height: 50px;
    margin: 0 auto 0 auto;
    font-family: franklin;
    color: hsl(0, 0%, 59%);

    text-align: center;
}

.welcome-text p {
    letter-spacing: 1px;
    font-size: 45px;
}

.bold-black {
    font-family: franklin_bold;
    color: #000;
}

.smaller-text {
    font-size: 20px;
    color: #000;
    letter-spacing: 0px;
}

.email-input {
    display: flex;
    margin-top: 30px;
}

.email-input input {
    padding: 0px 0px 0px 30px;
    
    line-height: 0px;

    width: 420px;
    height: 50px;

    border-radius: 30px;
    border-color: hsl(223, 100%, 88%);
    border-style: solid;
    border-width: 1px;

    float: left;

    /* margin-right: 80px; */
}

.email-input input[type="text"]::placeholder {
    font-family: franklin;
    font-size: 14px;
}

.email-input input[type="text"]:focus {
    outline: 0px;

    font-family: franklin;
    font-size: 14px;
    /* padding:0px 0px 0px 80px; */
}

.notify-button {
    width: 170px;
    height: 53px;

    font-family: franklin_semibold;
    color: white;
    font-size: 14px;

    background-color: hsl(223, 87%, 63%);

    border-radius: 30px;
    border-style: solid;
    border-width: 0px;

    margin-left: 20px;

    box-shadow: 0px 0px 30px hsl(223, 100%, 88%);
}

.notify-button:hover {
    cursor: pointer;
    background-color: hsl(223, 51%, 46%);
    transition-duration: .3s;
}
#email-error {
    margin: auto;
    opacity: 0;
}

#email-error p{
    text-align: left;

    margin: 7px 0px 0px 30px;
    letter-spacing: 0px;

    color: hsl(354, 100%, 66%);
    font-family: franklin;
    font-style: italic;
    font-size: 14px;
}

.dashboard {
    margin: 80px auto 120px auto;
}

.footer {
    margin: auto;
}

#f, #i, #t {
    color: hsl(223, 51%, 46%);
    margin: 5px auto 0px auto ;
}

#icon-wrapper-f, #icon-wrapper-i, #icon-wrapper-t {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid hsl(0, 0%, 59%, 10%);
    font-size: 20px;
    width: 30px;
    height: 30px;

    text-align: center;

    float: left;

    margin: 0px 10px;
}

.copyright-message {
    margin: 30px auto;
}

.copyright-message p {
    font-family: franklin;
    color: hsl(0, 0%, 59%);
}